<style>
  body {
    font-size: 85%;
  }
  .table {
    width: 100vw;
  }
</style>
<h2>Users Table</h2>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Zip Code</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% users.forEach(user => { %>
    <tr>
      <td>
        <a href="<%= `/users/${user._id}` %>">
          <%= user.fullName %>
        </a>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.zipcode %>
      </td>
      <td>
        <a href="<%=`/users/${user.email}/edit`%>">
          Edit
        </a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
